.container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-search {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    bottom: 11rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#search-bar {
    display: flex;
    width: 20rem;
    height: 2.1rem;
    font-weight: 900;
    font-size: 1.1rem;
    justify-content: center;
    border-radius: 10px;
    margin-right: 1rem;
    padding-left: 0.5rem;
}

#search-button {
    height: 1.4rem;
}

.container-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.field {
    margin-right: 5px;
    margin-left: 5px;
}

input {
    height: 1.7rem;
    margin-left: 5px;
}

.container-doctor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-card-doctor {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    margin: 5px;
    padding: 3px;
}

#nama {
    font-size: 1.5rem;
    font-weight: bolder;
}

#spesialisasi {
    text-align: center;
}

#hari {
    text-align: center;
}
