body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#border-logo {
    padding: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navvar-item {
    padding: 0px;
}

.navbar-brand {
    padding: 0px;
    padding-left: 1rem;
}

#logo {
    height: 1rem;
    width: auto;
    margin-right: 2rem;
}

#home, #more {
    color: black;
    font-size: 1.1rem;
    border-width: 0px 0px 0px 0px;
    font-weight: 900;

}

#login {
    font-weight: 900;
}

#navbarBasicExample {
    padding-right: 2rem;
}

.footer {
    padding: 0.2rem;
}