{% extends "base.html" %}
{% block title %}DocTo - Login{% endblock %}
{% block content %}
    <div class="container has-text-centered has-addons has-addons-centered">
        <div class="column is-4-desktop is-offset-4-desktop is-12-tablet is-center is-centered">
            <div id="login-notif"></div>
            <h3 class="title has-text-grey">Login - DocTo</h3>
            <p class="subtitle has-text-grey">Please login to proceed.</p>
            <div class="box">
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <div class="field">
                        {% csrf_token %}
                        <label class="label" for="{{ form.username.id_for_label }}">Username</label>
                        <div class="control has-icons-left">
                            {{ form.username }}
                            <p class="help is-danger">{{ form.username.errors.as_text }}</p>
                            <span class="icon is-small is-left">
                              <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        {% csrf_token %}
                        <label class="label" for="{{ form.password.id_for_label }}">Password</label>
                        <div class="control has-icons-left">
                            {{ form.password }}
                            <p class="help is-danger">{{ form.password.errors.as_text }}</p>
                            <span class="icon is-small is-left">
                              <i class="fas fa-key"></i>
                            </span>
                        </div>
                    </div>
                    <button class="button is-primary is-fullwidth" name="action" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        if (window.location.search.indexOf("?next") != -1) {
            let node = document.createElement("div");
            node.className = "button red is-danger";
            node.innerText = "You are trying to access authorized page.";
            node.style = "margin-bottom: 1rem; cursor: auto;";
            document.getElementById("login-notif").append(node);
        }

    </script>
{% endblock %}