{% extends "base.html" %}
{% block title %} DocTo - Log Out {% endblock %}
{% block content %}
    <div class="is-loading">
        <h2 class="has-text-centered">Logging out...</h2>
    </div>
{% endblock %}

{% block script %}
    <script>
        setTimeout(() => {
            window.location.href = '/';
        }, 500);
    </script>
{% endblock %}
