{% extends "base.html" %}
{% block content %}

<h3 class="title is-3 center">Daftar Dokter</h3>
<style>
	h3.center{
		text-align: center;
	}
	table.center{
		margin-left:auto;
		margin-right:auto;
	}
</style>
<table class="table is-stripped center">
  <thead>
    <tr>
      <th><abbr title="Dokter">Nama Dokter</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
	{% for i in doctors %}
	<tr>
		<td>{{i.nama}}</td>
		<th><a onclick="document.getElementById('{{i.user}}').className = 'modal is-active';" class="button is-text">Detail</a></th>
	</tr>
	{% endfor %}
  </tbody>
</table>
{% for j in consulate %}
<div id="{{j.dokter.user}}" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{j.dokter.nama}}</p>
      <button class="modal-close" onclick="myFunction('{{j.dokter.user}}')"></button>
    </header>
    <section class="modal-card-body">
		<style>
			table.center{
				margin-left:auto;
				margin-right:auto;
			}
		</style>
		<table class="table is-stripped center">
			<tbody>
			<tr>
				<th>Spesialisasi</th>
				<th>{{j.dokter.spesialisasi.nama}}</th>
			</tr>
			<tr>
				<th>Waktu Pengalaman</th>
				<th>{{j.dokter.waktu_pengalaman}}</th>
			</tr>
			<tr>
				<th>Lokasi praktik</th>
				<th>{{j.lokasi}}</th>
			</tr>
			<tr>
				<th>Jadwal Ketersediaan Konsultasi</th>
				<th>{{j.hari}}, {{j.jam_mulai}}-{{j.jam_selesai}}</th>
			</tr>	
			</tbody>
		</table>
    </section>
    <footer class="modal-card-foot">
      <a href="/request/{{ j.dokter.user.id }}" class="button is-success">Konsultasi!</a>
    </footer>
  </div>
</div>
{% endfor %}
{% endblock %}
{% block script %}
<script>
	function myFunction(x) {
		document.getElementById(x).className = 'modal';
	}
</script>
{% endblock %}