{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href='{% static "/css/dashboard.css" %}'/>{% endblock %}
{% block content %}
<div class="container-body">
    <div class="container-search">
        <form action="/" method="GET" class="form">
            <div class="container-search-bar">
                <input id="search-bar" type="text" name="inputNamaDokter" placeholder="Search Doctor">
                <input type="image" src='{% static "/img/magnifying-glass.png" %}' id="search-button">
            </div>
            
            <div class="container-filter">
                <div class="field">
                    <div class="control">
                        <div class="select is-small">
                            <select class="spesialisasi" name="inputSpesialisasi">
                            <option value="0">Semua Spesialisasi</option>
                            {% for i in spesialisasi %}
                                <option value="{{i}}">{{i}}</option>
                            {%  endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                        <div class="control">
                            <div class="select is-small">
                                <select class="hari" name="inputHari">
                                <option value="all">Semua Hari</option>
                                <option value="senin">Senin</option>
                                <option value="selasa">Selasa</option>
                                <option value="rabu">Rabu</option>
                                <option value="kamis">Kamis</option>
                                <option value="jumat">Jumat</option>
                                <option value="sabtu">Sabtu</option>
                                <option value="minggu">Minggu</option>
                                </select>
                            </div>
                        </div>
                    </div>
                
                <input id="waktu" type="time" name="inputWaktu">
            </div>
        </form>
    </div>

    <div class="container-doctor">
            {%  for i in docs %}
            <div class="container-card-doctor">
                <div id="nama">dr. {{i.nama}} </div>
                <div id="spesialisasi"> {{i.spesialisasi}} </div>
                <div id="hari"> {{i.hari}} </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}