<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DocTo{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "/css/bulma.css" %}'/>
    <link rel="stylesheet" href='{% static "/css/base.css" %}'/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Font Awesome 5 Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>
        function activateModal() {
            document.getElementById("popup").className = "modal is-active";
        }

        function deactivateModal() {
            document.getElementById("popup").className = "modal";
        }
    </script>

    {% block style %}

    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" id="border-logo">
                <img src='{% static "/img/logo.png" %}' id="logo">
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/" id="home">
                    Home
                </a>
                <a class="navbar-item" href="/daftarDokter" id="home">
                    Daftar Dokter
                </a>
                <a class="navbar-item" href="/request/2" id="home">
                    Request
                </a>
                <a class="navbar-item" href="/riwayat" id="home">
                    Riwayat
                </a>
                <div class="navbar-item has-dropdown">
                    <a class="navbar-link" id="more">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <!-- <p class="tag">Saldo : Rp 1.000.000,00</p> -->
                    <div class="tags  has-addons" style="margin-top: 10px; margin-bottom: 0px">
                       <span class="tag is-primary is-size-6">Saldo</span>
                       <span class="tag is-size-6">{{ saldo }}</span>
                    </div>
                    <!-- <div class="level-item">
                        <div class="field has-addons">
                            <p class="control">
                              <button class="button">
                                Saldo
                              </button>
                            </p>
                            <p class="control">
                              <button class="button">
                                Rp. 1.000.000,00
                              </button>
                            </p>
                        </div>
                    </div> -->
                    <div class="buttons">
                        {% if not request.user.is_authenticated %}
                            <a href="/login/" class="button is-white has-text-primary" id="login">
                                Log in
                            </a>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <button class="button is-white has-text-primary" id="login" type="button"
                                    onclick="activateModal()">
                                Log out
                            </button>
                            <div id="popup" class="modal">
                                <div class="modal-background" onclick="deactivateModal()"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Are you sure you want to log out?</p>
                                        <button class="delete" aria-label="close" onclick="deactivateModal()"></button>
                                    </header>
                                    <footer class="modal-card-foot">
                                        <a href="/login/logout/" class="button is-danger">Yes</a>
                                        <button class="button is-info" onclick="deactivateModal()">No</button>
                                    </footer>
                                </div>
                                <button class="modal-close is-large" aria-label="close"
                                        onclick="deactivateModal()"></button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
{% endblock %}
{% block footer %}
    <footer class="footer is-fullwidth is-12">
        <div class="content has-text-centered">
            <p>
                <strong>DocTo</strong> by <a href="https://gitlab.com/rpl-d4/docto">RPL D4</a>.
            </p>
        </div>
    </footer>
{% endblock footer %}
{% block script %}
{% endblock %}
</body>
</html>