
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}DocTo{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "/css/bulma.css" %}'/>
    <link rel="stylesheet" href='{% static "/css/base.css" %}'/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Font Awesome 5 Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    {% block style %}

    {% endblock %}


  </head>
  <style>
    .buttons{
      color: Black;
    }
    @import
    url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css');
    body {
      position: relative;
      height: 100%;
      width: 100%;
    }
    h2{
      color: #000103;
      font-size: 40px;
      text-align: center;
    }
    /* .columns {
      margin-top: 40px;
    }
    .column .item{
      width: 25%;
      margin: 0 2% 20px 0;
      float : left;
      text-align: center;
    } */
    .grid-container {
      margin-top: 40px;
      display: grid;
      width: 100%;
      padding: 10px;
      grid-gap: 15px;
      grid-template-columns: 25% 25% 25% 25%;
    }

    .grid-item {
      /* width: 25%;
      margin: 0 2% 20px 0;*/
      float: left;
      width: 85%;
      padding: 20px;
      font-size: 15px;
      text-align: center;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      /* flex-flow: row wrap; */
    }

    .section {
      background-color: #AFC6E0;
      min-height: 100vh;
      position: relative;
      .card {
        /* border-radius: 6px; */
        overflow:hidden;
        max-width: 300px;
        max-height: 380px;
        margin: 0 auto;
        .header {
          height: 60px;
          background: #2B4570;
          .avatar {
            width: 60px;
            height: 60%;
            position: relative;
            margin: 0 auto;
            img {
              display: block;
              /* border-radius: 50%; */
              position: absolute;
              /* bottom: -42px; */
              /* border: 4px solid black; */
            }
          }
        }
        .card-body {
          padding: 30px;
          .user-meta {
            padding-top: 20px;
            .username {
              font-size: 18%;
              font-weight: 600;
              font-color: #2B4570;
            }
            .position {
              font-size: 90%;
              color: #2B4570;
            }
          }
        }
        .user-bio {
          /* padding-top: 8px; */
          font-size: 92%;
          color: #000103;
        }
        .action {
          /* padding-top: 20px; */
          .button {
            /* padding: 16px 20px 16px 20px; */
            background: #2B4570;
            border-color: #2B4570;
            color: white;
            border-radius: 100px;
            transition: opacity .3s;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
    h3{
      font-size: 30px;
      weight: 500;
    }
    h5{
      color: #F6AE2D;
      weight: 400;
    }
    .button{
      margin-bottom: 15px;
      display: inline-flex;
    }

    .cancelBtn{
      background-color: #AFC6E0;
    }
    .cancelBtn:hover, .cancelBtn:focus{
      background-color: #F2BB05;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
      /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
    }

    /* The Close Button */
    .close, .close1 {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,.close:focus, .close1:hover,.close1:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    #ask{
      text-align: center;
      font-size: 25px;
    }
    #alasan{
      position: relative;
      left: 15%;
      right: auto;
      width: 70%;
      height: 25%;
    }

    .btnConfirm, .btnYes{
      background-color:  #AFC6E0;
      margin-top: 20px;
      margin-right: 30px;
      color: Black;
      float: right;
    }
    .btnSkip, .btnNo{
      position: relative;
      background-color:  #AFC6E0;
      margin-top: 20px;
      vertical-align: left;
      text-align: left;
      color: Black;
      float: right;
    }

  </style>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" id="border-logo">
                <img src='{% static "/img/logo.png" %}' id="logo">
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/" id="home">
                    Home
                </a>
                <a class="navbar-item" href="/search" id="home">
                    Search
                </a>
                <a class="navbar-item" href="/daftarDokter" id="home">
                    Daftar Dokter
                </a>
                <a class="navbar-item" href="/request" id="home">
                    Request
                </a>
                <a class="navbar-item" href="/riwayat" id="home">
                    Riwayat
                </a>
                <div class="navbar-item has-dropdown">
                    <a class="navbar-link" id="more">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if not request.user.is_authenticated %}
                            <a href="/login/" class="button is-white has-text-primary" id="login">
                                Log in
                            </a>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <a href="/login/logout/" class="button is-white has-text-primary" id="login">
                                Log out
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="section">
      <h2> Daftar Riwayat Konsultasi</h2>
        <div class="grid-container">
          {% for consultation in consultations %}
          <div class="grid-item" id="card{{consultation.no_urut}}">
              <div class="card cardItem">
                <div class="header">
                  <div class="avatar">
                    <img src="{{ consultation.dokter.foto }}" alt="">
                  </div>
                </div>
                <div class="card-body">
                  <div class="user-meta has-text-centered">
                    <h3 class="username">{{ consultation.dokter.nama }}</h3>
                    <h5 class="position"> {{ consultation.dokter.spesialisasi.nama }}</h5>
                  </div>
                  <div class="user-bio has-text-centered">
                    <p>Date : {{ consultation.tanggal }}</p>
                    <p>Time : {{ consultation.waktu }}</p>
                    <p>Via : {{ consultation.opsi }}</p>
                  </div>
                  <div class="action has-text-centered">
                    <a class="button cancelBtn" id="{{consultation.no_urut}}">Batalkan Konsultasi</a>
                  </div>
                </div>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>

    <div id="cancelModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p id="ask"> Mengapa anda ingin membatalkan konsultasi?</p>
        <input type="text" id="alasan">
        <div>
          <button class="btnSkip">
            skip
          </button>
          <button class="btnConfirm">
            Confirm
          </button>
        </div>
      </div>
    </div>

    <div id="cancelModal1" class= "modal">
      <div class="modal-content">
        <span class="close1">&times;</span>
        <p id="ask"> Konfirmasi pembatalan konsultasi?</p>
        <div>
          <button class="btnNo">
            Tidak
          </button>
          <button class="btnYes">
            Ya
          </button>
        </div>
      </div>
    </div>
  </body>
  <script>
    // Get the modal
    var modal = document.getElementById('cancelModal');
    var modal1 = document.getElementById('cancelModal1');

    var satu = document.getElementsByClassName("cardItem");

    var parentId = "";

    // Get the button that opens the modal
    $(".cancelBtn").click(function(){
      console.log("satuuuuu");
      modal.style.display = "block";
      parentId = "card" + this.id;
      console.log(parentId);
    });

    $(".close").click(function(){
      modal.style.display = "none";
    });

    $(".btnSkip").click(function(){
      modal.style.display = "none";
      modal1.style.display = "block";
    });

    $(".btnConfirm").click(function(){
      console.log("yakinnnn");
      modal.style.display = "none";
      modal1.style.display = "block";
    });

    $(".close1").click(function(){
      modal1.style.display = "none";
    });

    $(".btnNo").click(function(){
      console.log("satuuuuu");
      modal1.style.display = "none";
    });

    $(".btnYes").click(function(){
      console.log("yesyesyes");
      modal1.style.display = "none";
      console.log("hore " + parentId);
      var deleted = document.getElementById(parentId).remove();
      dt = parentId.substring(4)
      window.location.href = window.location.href+dt
      console.log("konsultasi berhasil dibatalkan");
    });
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</html>
